/*
The declaration bellow is used to reset the browser's settings.
*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color:white;
  --bg-url:url(./assets/bg-mobile.jpg);
 
  --stroke-color:rgba(255,255,255,0.5);
  --surface-color:rgba(255,255,255,0.05);
  --surface-color-hover:rgba(255,255,255,0.02);
  --highlight-color:rgba(255,255,255,0.1);
}
.light{
  --text-color:black;
  --bg-url:url(./assets/bg-mobile-light.jpg);
  --stroke-color:rgba(0,0,0,0.5);
  --surface-color:rgba(0,0,0,0.05);
  --surface-color-hover:rgba(255,255,255,0.02);
  --highlight-color:rgba(0,0,0,0.1);
}
#container{
    width: 360px;
    height: 712px;
    padding: 0px 24;
    margin: 56px auto 0px;

}
/* To use some fonts, follow the link below
https://fonts.google.com/?preview.text_type=paragraph&stylecount=1 */
/* h1{
  font-family: 'Roboto', sans-serif;
} */
body *{
  font-family: 'Inter', sans-serif;
  color:var(--text-color);

}

body{  
    background:var(--bg-url)no-repeat;
    background-size: cover;

}

/*
Img is default in line, so if we try to put margin:auto it isn't works.
*/
#profile img {
height: 200px;
width: 200px;

}
/* To solve this problem for center the img, we must use text-align:center in the root profile */
#profile {

  text-align: center;
  padding: 24px;
}
/*Using "profile p" you will change only the p in the profile */
#profile p {
  font-weight: 500;
  font-size:16px;
  line-height: 24px;
 margin-top:8px;
}
/* LINKS */
ul{
 list-style: none;
 display: flex;
  /* this command change the way that items will be in the screen  */
  flex-direction: column;
  gap: 16px;/* this command make a space 
  between the itens in the box */
  padding: 24px 0;
}

ul li a{
  display: flex;
  padding: 16px 24px ;
  border: 1px solid var(--stroke-color);
  justify-content: center;
  /*this command will align the items horizontal  */
  align-items: center;/*this command wil align  the items vertically  */
  background: var(--surface-color);/*this command defines the color of the button */
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s;
}
/* pseudo-selector */
ul li a:hover{
  background: var(--surface-color-hover);
  border: 1px solid var(--stroke-color, var(--text-color));

}
#social-links{
  display: flex;
  font-size: 40px;
  padding: 24px 0;
  height: 80px;
  width: auto;
  margin: 24px auto 16px;
 
  align-items: center;
  justify-content: center;
  
}
#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition:background 0.2s;
  border-radius: 50%;
}
#social-links a:hover{

  background:var(--highlight-color);
}
footer{
padding: 24px 0;
  text-align: center;
}