/*
The declaration bellow is used to reset the browser's settings.
*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#container{
    width: 360px;
    height: 712px;
    padding: 0px 24;
    margin: 56px auto 0px;

}
/* To use some fonts, follow the link below
https://fonts.google.com/?preview.text_type=paragraph&stylecount=1 */
/* h1{
  font-family: 'Roboto', sans-serif;
} */
body *{
  font-family: 'Inter', sans-serif;
  color: #ffff;
}

body{  
    background:url(./assets/bg-mobile.jpg)no-repeat;
    background-size: cover;
  
}

/*
Img is default in line, so if we try to put margin:auto it isn't works.
*/
#profile img {
height: 200px;
width: 200px;

}
/* To solve this problem for center the img, we must use text-align:center in the root profile */
#profile {

  text-align: center;
  padding: 24px;
}
/*Using "profile p" you will change only the p in the profile */
#profile p {
  font-weight: 500;
  font-size:16px;
  line-height: 24px;
 margin-top:8px;
}
/* LINKS */
ul{
 list-style: none;
 display: flex;
  /* this command change the way that items will be in the screen  */
  flex-direction: column;
  gap: 16px;/* this command make a space between the itens in the box */
}

ul li a{
  display: flex;
  padding: 16px 24px ;
  border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.50));
  justify-content: center;
  /*this command will align the items horizontal  */
  align-items: center;/*this command wil align  the items vertically  */
  background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.10));/*this command defines the color of the button */
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s;
}
/* pseudo-selector */
ul li a:hover{
  background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.05));
  border: 1px solid var(--stroke-color-dark-mode, rgb(255, 255, 255));

}