*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Original Surfer";
}
.original-surfer-regular {
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: aliceblue;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 99;
  }