 /* posicionamento básico do menu e formatação do texto */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Original Surfer";
}
.original-surfer-regular {
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
  }
 
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
 
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 99;
  }
   .logo{
    font-size: 2em;
    user-select: none;
    color:black
  }
  .navigation a {
    color: black;
    font-size: 1.1em;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
}
/*estiliza o efeito de passada de mouse nos links do menu*/
  .navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
  background: rgb(165, 154, 154);
    width: 100%;
    height: 3px;
    border-radius: 6px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
  }
  .navigation a:hover::after{
    transform: scale(1);
    transform-origin: left;
  }

/*estilização do botão de login*/
.navigation .btnLogin{
    width: 130px;
    height: 50px;
    outline: none;
    background-color: transparent;
    border:2px solid rgb(165, 154, 154);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1em;
    margin-left: 40px;
    transition: .4s;
}
/*estilização da passada de mouse sobre o botão login*/
.navigation .btnLogin:hover{
    background-color: rgb(165, 154, 154);
}
